<!--Author column BEGIN-->
  <div class="author_column"> 
   {{mixins.block_title('Колонка автора')}}
    <!--   Author post BEGIN-->
    <div class="block_content">
      <div class="post"> 
       <img src="../img/author.jpg" alt="" class="post_img">
        <time class="post_date"> 17.06.14 - 14:41</time>
        <h2 class="post_title">В ожидании чуда</h2>
        <p class="post_text">
        <span class="bold">Дмитрий Шурхало</span> о выборах, их результатах и надеждах народных масс.</p>
        </div>
    </div>
    <!--   Author post END-->
</div>
<!--Author column END-->