<!--Main news BEGIN-->
  <div class="main_news"> 
   {{mixins.block_title('Главная новость')}}
    <div class="block_content">
        <div class="post">
            <p class="post_text">Верховная Рада назначила Климкина министром иностранных дел. Дещицу провожали кричалкой о Путине.</p>
            <time class="post_date"> 26.06.14 - 7:48</time>
            <span class="icon eye"></span> 
            <span class="post_views">991</span> 
            <span class="icon message"></span> 
            <span class="post_comments">2</span> 
        </div>
    </div>
</div>
<!--Main news END-->