{% set
news = [
{
date: '22.06.14 - 7:24',
text: 'Председатель парламента Александр Турчинов обратился к людям, заблокировавшим улицу Грушевского, прямо из зала.'
}, 
{
date: '22.06.14 - 8:03',
text: 'Фракцию Коммунистической партии Украины покинули сразу два депутата.',
highlighted: true,
bold: true
}, 
{
date: '23.06.14 - 23:18',
text: 'В ходе антитеррористической операции на Луганщине ликвидировано укрепление боевиков и взят мост через Северский...',
highlighted: true,
bold: true,
icon: true
},
{
date: '27.06.14 - 8:34',
text: 'Блокпост АТО №1 штурмовали 8 российских танков. Погибли 4 военнослужащих.',
highlighted: true,
bold: true
},
{
date: '23.06.14 - 7:45',
text: 'Украинский комментатор в прямом эфире спел известный хит про Путина.'
},
{
date: '24.06.14 - 23:30',
text: 'Международные дипломаты дружно поддержали идею Путина.'
},
{
date: '25.06.14 - 7:09',
text: 'Сепаратисты ДНР берут под контроль банковскую систему Донецкой области.',
highlighted: true,
bold: true
},
{
date: '25.06.14 - 8:40',
text: 'Украинские военные отказались от более надежных бронежилетов ради подвижности. Эксперты считают это ошибкой.'
},
{
date: '26.06.14 - 23:49',
text: 'Два блокпоста АТО возле Славянска боевики атаковали с применением «Града» и танков. Есть раненые /обновлено/.',
highlighted: true,
bold: true
},
{
date: '24.06.14 - 0:20',
text: 'Во Львове видного налоговика подвели его «волосатые руки».'
}
] 
%}
