{% set
articles = [
{
image: 'rada',
date: '2.06.14 - 0:20',
category: 'Тенденции',
title: 'Рада, пора на выход!',
author: 'Максим Михайленко',
text: 'Седьмой парламентский созыв публично агонизирует. Хотя в Верховной Раде зарегистрирован законопроект о самороспуске, это вовсе не означает, что парламентарии спешат на досрочные выборы.'
}, 
{
image: 'agressor',
date: '2.06.14 - 0:20',
category: 'Тенденции',
title: 'Рада, пора на выход!',
author: 'Максим Михайленко',
text: 'Седьмой парламентский созыв публично агонизирует. Хотя в Верховной Раде зарегистрирован законопроект о самороспуске, это вовсе не означает, что парламентарии спешат на досрочные выборы.'
}
] 
%}
