{% set
poll = {
question: 'Что надо сделать, чтобы решить проблему востока Украины?',
answers: [
{
variant: 'Поубивать всех "ватников" и зажарить их сердца на медленном огне',
padding: true
},
{
variant: 'Сбросить на Луганскую и Донецкую области атомную бомбу'
},
{
variant: 'Начать переговоры с лидерами ЛНР и ДНР'
},
{
variant: 'Отдать Донецк и Луганск России'
},
{
variant: 'Выстроить по всей границе с РФ 5-метровую стальную стену'
},
{
variant: 'Отмотать время назад...'
}
]
} 
%}
